form{

  display: flex;
flex-direction: column;
  text-align: start;



button{
  width: 100px;
  margin: auto;
}
  label{
    color: White;
    width: 50%;
    margin: auto;
    margin-top: 2em;
  }
  input{
    margin: auto;
    height: 50px;
    width: 50%;
    border: none ;
    background-color: #bebebe;
    color: white;
    margin-top: 1em;
  }
}
.form-desktop{
  margin-bottom: 33vh !important;
}
.form-mobile{
  margin-bottom: 200px !important;
}